<!DOCTYPE html>
<html>
  <body>
    <p>Olá <%= @user.name %>,</p>
    <p>Clique no link abaixo para redefinir sua senha:</p>
    <p><a href="<%= @url %>">Redefinir Senha</a></p>
    <p>O link expira em 4 horas.</p>
  </body>
</html>